.container-sidebar .nav-header {
    display: flex;
    justify-content: center;
}

.container-sidebar .nav-header .logo-image {
    display: inline-block;
    /* background-color: #00A850; */
    padding-left: 30px;
    padding-right: 30px;
}

.container-sidebar .nav-header .logo-image img {
    margin: 8px 0 0 0;
    height: 60px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F0F3F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 199, 199);
}

.menu {
    margin: 40px 15px 40px 15px;
    gap: 14px;
    padding: 0;

    i {
        cursor: pointer;
        display: inline-block;
        margin: 11px;
        font-size: 28px;
    }

    span , span:hover {
        cursor: pointer;
        font-size: 20px;
        font-weight: bolder;
    }

}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submenu {
    display: none;
    padding: 10px 10px 10px 40px;
    margin: 5px 10px 10px 15px;
    border-radius: 8px;
    background-color: rgba(36, 128, 112, 0.16);

    span , span:hover {
        cursor: pointer;
        font-size: 14px;
        font-weight: bolder;
    }

}
.submenu.show {
    display: block;
}

.sub-submenu {
    display: none;
    margin: 10px 10px 10px 40px;
}

.sub-submenu.show {
    display: block;
}

.sub-submenu-end {
    margin: 8px 0 0 0;
}

.active-link {
    text-decoration: none;
    color: #5799ff;
    font-weight: bolder;
}

.inactive-link {
    text-decoration: none;
    color: #666;
}

.hidden {
    display: none; /* ซ่อน Sidebar เมื่อมีคลาสนี้ */
}

.container-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    padding: 1rem;
    width: 320px;
    border-right: 1px solid #f0f0f0;
    box-shadow: 1px 0 8px #888888;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);

    .nav-header i {
        cursor: pointer;
        font-size: 60px;
        margin: 10px -20px 0 -10px;
        background: linear-gradient(to right, #248070, #ffffff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.container-sidebar.closed {
    transform: translateX(-100%);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.open-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
    margin: 10px 0 0 -10px;
    font-size: 60px;
    background: linear-gradient(to right, #248070, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
