.page {
    color: rgb(0, 0, 0);
    background-color: #F9FAFB;
    /* justify-content: left; */
    padding-left: 350px;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.card-bg-white {
    background-color: #ffff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 7px 15px rgba(61, 77, 90, 0.03);
}

.card-bg-grey {
    background-color: #F9FAFB;
    padding: 20px;
    border-radius: 20px;
}

.form-select {
    border-radius: 50px !important;
}

.form-control {
    border-radius: 50px !important;
}

.header {
    padding-top: 10;
    padding-bottom: 10px;
}
