.card-bg-white {
    background-color: #ffff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 7px 15px rgba(61, 77, 90, 0.03);
}

.card-bg-grey {
    background-color: rgb(234, 234, 234);
    padding: 20px;
    border-radius: 20px;
}

.form-select {
    border-radius: 50px !important;
}

.form-control {
    border-radius: 50px !important;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainer {
    display: flex;
    height: 100vh;
}

.sidebar {
    transition: width 0.3s ease-in-out;
}

.sidebar.closed {
    width: 0;
}

.page {
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
}

.page.sidebar-open {
    margin-left: 280px;
}

.page.sidebar-closed {
    margin-left: 0;
}