:root {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  background-color: #F9F9F9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
